<%= form_for @written_statement, url: new_politician_written_statement_path do |f| %>
  <% if @written_statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@written_statement.errors.count, "error") %> prohibited this written_statement from being saved:</h2>

      <ul>
      <% @written_statement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :issue %><br>
    <%= f.text_field :statements %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :source %><br>
    <%= f.text_field :path %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <br>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
