<p id="notice"><%= notice %></p>

<p>
  <strong>Statement:
  <%= @written_statement.statements %></strong>
</p>

<p>
  <%= @written_statement.body %>
</p>

<p>
  Source:
  <%= link_to @written_statement.path, @written_statement.path, :target => '_blank'  %>
</p>

<p>
	Date: <%= @written_statement.date %>
</p>
<br>
<br>
<br>

<%= link_to 'Back', politician_timeline_path(@written_statement.politician_id) %>
