<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @politician.name %>
</p>

<!-- <p>
  <strong>Image:</strong>
  <%= @politician.image %>
</p> -->

<p>
  <strong>Position:</strong>
  <%= @politician.position1 %>
</p>

<p>
  <% if @politician.position2 != "" %>
  <strong>Leadership Position:</strong>
  <%= @politician.position2 %>
  <% end %>
</p>

<p>
  <strong>State:</strong>
  <%= @politician.state.state %>
</p>

<p>
 <% if @politician.district %>
  <strong>District:</strong>
  <%= @politician.district %>
<% end %>
</p>

<p>
  <strong>Party:</strong>
  <%= @politician.party %>
</p>

<p>
  <strong>Sworn in:</strong>
  <%= @politician.sworn_in %>
</p>

<!-- <p>
  <strong>Person defeated:</strong>
  <%= @politician.person_defeated %>
</p> -->

<p>
  <strong>Votes with party:</strong>
  <%= @politician.votes_w_party %>
</p>

<p>
<% if @politician.votes_vs_party %>
  <strong>Votes vs party:</strong>
  <%= @politician.votes_vs_party %>
<% end %>
</p>

<p>
<% if @politician.abstains %>
  <strong>Abstains:</strong>
  <%= @politician.abstains %>
<% end %>
</p>

<br>
<br>
<br>

<%= link_to 'Timeline of Public Statements', politician_timeline_path(@politician.id) %>
<br>
<%= link_to 'Timeline of Public Statements by Issue (Coming Soon)' %>
<br>
<br>
<!-- <ink_to 'Edit', edit_politician_path(@politician) %> | -->

<%= link_to "Back to #{@politician.state.state} state profile page", state_path(@politician.state_id) %>
